VITE_GEMINIAPIKEY=AIzaSyCSPzKuhilMpTDDzTPWtH6ImOyBgGX2nJ4  # Gemini API key
VITE_APIKEY="AIzaSyBMpnjVILxmv2YS2AEiGl1hBMJoLtCgSR8" # Firebase
VITE_APPID="1:478799222090:web:a4080311ed410f661f9db3"   # Firebase
VITE_AUTHDOMAIN="aiinterviewchatbot.firebaseapp.com" # Firebase
VITE_MEASUREMENTID="G-VBH15XWRXL"  # Firebase
VITE_MESSAGINGSENDERID="478799222090"  # Firebase
VITE_PROJECTID="aiinterviewchatbot"  # Firebase
VITE_STORAGEBUCKET= "aiinterviewchatbot.firebasestorage.app"  # Firebase
